extends layout

block content
  head
    title= title
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-153068245-1")

  body(onload='init(#{id}, #{latestId})')
    nav
      #logo
        | Cyber City
        span Comics
    h1= title

    // Wrapper
    #wrapper

      // Comic
      h2 #{comTitle}
      h3 #{date}
      img(src='#{imgLink}')
      #controller
      #transcript
        h3 Transcript
        p(align='center') !{transcript}


  // /Wrapper