extends layout

block content
  head
    title= title

  body(onload='init(#{id}, #{latestId})')
    //Nav bar
    nav
      #logo
        | Cyber City
        span Comics
    h1= title

    // Wrapper
    #wrapper

      // Comic
      h2 #{comTitle}
      h3 #{date}
      img(src='#{imgLink}' alt='xkcd ##{id}')
      #controller
      #transcript
        h3 Transcript
        p(align='center') !{transcript}
    
    //Footer
    footer
      | &copy; Copyright 2019 Cyber City Comics
      #viewCount View Count: #{viewCount}
